{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">

        <div class="header">
            <a class="button" href="/students/create">Novo</a>

            <form action="/students" method="get">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Nome ou Email"
                    value={{filter}}
                >    
                <button type="submit">Filtrar</button>            
            </form>
        </div>

        <table width="100%">
            <thead>{# cabeçalho #}
                <tr>{# linha #}
                    <th>Nome completo</th>{# coluna #}
                    <th>Email</th>{# coluna #}
                    <th>Ano escolar</th>{# coluna #}
                    <th>Ação</th>{# coluna #}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for students in student %}
                    <tr>
                       <td>
                            <span style="background-image: url({{students.avatar_url}})"></span>
                            {{ students.name }}
                        </td>
                        <td>{{ students.email }}</td>
                        <td>{{ students.grade }}</td>
                        <td><a href="/students/{{ students.id }}">ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            {# data-filter={{pagination.filter}} #}
        ></div>
    </div>

{% endblock content %}