{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">

        <div class="header">
            <a class="button" href="/teachers/create">Novo</a>

            <form action="/teachers" method="get">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Nome ou Atendimento"
                    value={{filter}}
                >    
                <button type="submit">Filtrar</button>            
            </form>
        </div>
    
        <table width="100%">
            <thead>{# cabeçalho #}
                <tr>{# linha #}
                    <th>Nome completo</th>{# coluna #}
                    <th>Acompanhamento</th>{# coluna #}
                    <th>Estudantes</th>{# coluna #}
                    <th>Ação</th>{# coluna #}
                </tr>
            </thead>
            <tbody>
                {% for teachers in teacher %}
                    <tr>
                       <td>
                        <span style="background-image: url({{teachers.avatar_url}})"></span>
                         {{ teachers.name }}</td>
                        <td>{{ teachers.subjects_taught }}</td>
                        <td>{{ teachers.total_students }}</td>
                        <td><a href="/teachers/{{ teachers.id }}">ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock content %}